.header {
    display: flex;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}